.product-grid {
    display: inline-grid;
    grid-template-columns: 50% 25% 25%;
    padding: 2em;
    column-gap: 10px;
    row-gap: 15px;
    width: 100%;
}

.product-wrapper {
    display: contents;
}

.product-column-header {
    font-size: larger;
}

.product-column {
    font-size: large;
}

.premium-price {
    margin-right: 10px;
}

.premium-plan-card {
    margin-bottom: 15px;
}

.premium-price {
    font-size: larger;
}