.productGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: initial;
    flex-wrap: wrap;
}

.premiumPlanCard {
    width: 49%;
    margin-bottom: 25px;
}

.premiumPrice {
    font-size: larger;
}

.paymentOption {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
