.label {
    font-weight: bold;
    min-width: 170px;
}

.verticalLine {
    border-left: 2px solid white;
    height: auto;
}

.section {
    padding: 30px 30px 0px 30px;
    display: flex;
    align-content: center;
    flex-direction: initial;
}

.sectionLeft {
    width: 70%;
}

.sectionRight {
    width: 30%;
}

@media all and (min-width: 500px) {
    .section>:global(div) {
        margin-right: 120px;
    }
}

.flipCustomize {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: initial;
}

@media all and (max-width: 1200px) {
    .flipCustomize {
        flex-wrap: wrap;
    }
    .section {
        width: 100%;
        margin: 0;
    }
    .verticalLine {
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 2px solid white;
        width: -webkit-fill-available;
    }
    .sectionLeft {
        width: 100%;
    }
    .sectionRight {
        width: 100%;
        justify-content: center;
    }
}

#flip-finder-tooltip .tooltip-inner {
    max-width: max-content !important;
    text-align: left;
}