.ingredientsWrapper {
    text-align: left;
    background-color: #505050;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: auto;
}

.copyButtonsWrapper {
    display: inline-flex;
    align-items: center;
    cursor: default;
}

.copyButton {
    padding: 2px 6px;
    margin-left: 5px;
    line-height: 1;
}