.crafts-list .list-group-item {
    width: -webkit-fill-available;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.crafts-list .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#tooltip-container .tooltip-inner {
    max-width: fit-content;
}

.crafts-list .tooltip-wrapper {
    width: calc(50% - 10px);
}

.crafts-list .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.crafts-list .prevent-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: calc(50% - 10px);
}

.crafts-list .label {
    width: 150px;
    float: left;
}

.crafts-list .list-group-item p {
    margin: 0;
}

.crafts-list .list-group-item .craftRequirement {
    text-align: right;
}

.crafts-list .list-group-item .craftRequirementLabel{
    margin-right: 10px;
}
