.flipper-filter {
    padding: 20px;
}

.flipper-filter-formfield-text {
    text-align: right;
}

.filterTextfield {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
}

.premium-filters {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: left;
}

.only-bin-label {
    padding-right: 20px;
}

.filter-checkbox {
    display: inline-flex;
    margin-right: 50px;
}