.flipper-filter .flipper-filter-formfield-text {
    text-align: right;
}

.flipper-filter .filterTextfield {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
}

.flipper-filter .premium-filters {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: left;
}

.flipper-filter .premium-filters .form-group {
    margin-bottom: 0;
}

.flipper-filter .form-check {
    padding-left: 0;
}

.flipper-filter .checkbox-label {
    padding-right: 20px;
}

@media all and (max-width: 480px) {
    .flipper-filter .checkbox-label {
        min-width: 100px;
    }
    .flipper-filter .premium-filters {
        flex-wrap: wrap;
    }
}

.flipper-filter .filter-checkbox {
    display: inline-flex;
    margin-right: 50px;
}