.flipper-filter {
    padding: 20px;
}

.only-bin-label {
    float: left;
    min-width: 170px;
}

.flipper-filter-formfield-text {
    text-align: right;
}

.filterTextfield {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
}