.appliedBadge {
    margin-left: 10px;
}

.date-picker-popper {
    z-index: 2;
}

.generic-filter {
    flex-grow: 100;
}

.generic-filter .form-control {
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}