.price-graph .graph-overlay {
    position: absolute;
}

.price-graph .additional-infos {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}

.price-graph .avg-price {
    display: block;
    text-align: center;
    min-width: 100%;
    margin-bottom: 10px;
}

.price-graph .graph-canvas-container {
    margin-top: 20px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-graph .bazaar-notice {
    padding-left: 30px;
}