.checkedFileName {
    font-weight: bold;
}
.dNd{
    position: relative;
    width: 80%;
    overflow: hidden;
    background: transparent;
    border: 10px dashed darkslategray;
    transition: border 0.2s;
    background-color: rgb(50,50,50);
    color: rgb(100,100,100);
    background-clip: padding-box;
    max-width: 500px;
}
.dNd:hover {
    border: 12px dashed darkslategray;
}
.dNd:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.dNd-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    width: 100%;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    padding: 10%;
}