.startpage .card-wrapper {
    padding: 0 15px 15px 0;
    display: inline-block;
    /* Make the container element behave like a table */
    /* Set full-width to expand the whole page */
}

.startpage .cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.startpage .cards-wrapper .card {
    height: 100%;
}

.startpage-list-element-wrapper::-webkit-scrollbar {
    background-color: #272b30;
}

.startpage .startpage-list-element-wrapper::-webkit-scrollbar {
    width: 20px;
}

.startpage .startpage-list-element-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.startpage .startpage-list-element-wrapper::-webkit-scrollbar-thumb {
    background: #3a3f44;
    border-radius: 10px;
}

.startpage .startpage-list-element-wrapper::-webkit-scrollbar-thumb:hover {
    background: #7a8288;
}

.startpage .ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}

.startpage .startpage-list-element-wrapper {
    margin-top: 20px;
    width: 100%;
}

.startpage h4 {
    margin-bottom: 0;
}

.startpage .join-note {
    margin-right: 35px;
}

.startpage .new-auctions,
.startpage .ended-auctions {
    min-height: 220px;
}

.startpage .changelog-item {
    margin-bottom: 15px;
}

.startpage .startpage-card {
    width: auto;
    margin-top: 20px;
}