.cardWrapper {
    padding: 0 15px 15px 0;
    display: inline-block;
    cursor: pointer;
    /* Make the container element behave like a table */
    /* Set full-width to expand the whole page */
}

.cardsWrapper {
    display: flex;
    flex-wrap: nowrap;
}

.cardWrapper :global(.card) {
    height: 100%;
}

.startpageListElementWrapper::-webkit-scrollbar {
    background-color: #272b30;
}

.startpageListElementWrapper::-webkit-scrollbar {
    width: 20px;
}

.startpageListElementWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.startpageListElementWrapper::-webkit-scrollbar-thumb {
    background: #3a3f44;
    border-radius: 10px;
}

.startpageListElementWrapper::-webkit-scrollbar-thumb:hover {
    background: #7a8288;
}

.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}

.startpageListElementWrapper {
    margin-top: 20px;
    width: 100%;
}

.joinNote {
    margin-right: 35px;
}

.newAuctions,
.endedAuctions {
    min-height: 260px;
}

.popularSearches,
.newPlayers,
.newItems {
    min-height: 120px;
}

.changelogItem {
    margin-bottom: 15px;
}

.startpageCard {
    width: auto;
    margin-top: 20px;
}

.statusTitle {
    color: '#40ff00';
}
