.player-details-list>.bid-item-image {
    margin-right: 15px;
}

.player-details-list>.bid-list {
    width: 96%;
    margin-left: auto;
    margin-right: auto
}

.player-details-list>.loadingBanner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.player-details-list>.noAuctionFound {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    text-align: center;
    margin-top: 5vh;
}

.player-details-list>.upButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.player-details-list>.subscribe-button {
    position: fixed;
    bottom: 20px;
    right: calc(20px + 45px + 20px);
}

.player-details-list>.fixed-bottom {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

.player-details-list>.fixed-bottom>.btn-bottom {
    float: right;
    margin-left: 10px;
}

.player-details-list .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.player-details-list .list-group-item {
    border-radius: 20px;
    width: 49%;
    margin-bottom: 15px;
}