.inventory {
    overflow: hidden;
}

.card {
    margin-bottom: 30px;
}

.inventory .grid {
    width: 540px;
    height: 100%;
}

.inventory .gridCell {
    width: 60px;
    height: 60px;
    background-color: #8b8b8b;
    border-top: thick double #373737;
    border-left: thick double #373737;
    border-right: double #ffffff;
    border-bottom: double #ffffff;
    float: left;
}

.inventory .image {
    display: block;
    margin: auto;
    padding: 2px;
}

.hoverElement li {
    text-align: left;
}

.hoverElement {
    min-width: "800px" !important;
}