.bidItemImage {
    margin-right: 15px;
}

.bidList {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.loadingBanner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.noElementFound {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    text-align: center;
    margin-top: 5vh;
}

.subscribeButton {
    position: fixed;
    bottom: 20px;
    right: calc(20px + 45px + 20px);
}

.fixedBottom {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
}

.btnBottom {
    margin-left: 10px;
    width: max-content;
}

.playerDetailsList .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: initial;
}

.playerDetailsList .list :global(.list-group-item) {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 15px;
}

@media all and (min-width: 1200px) {
    .playerDetailsList .list :global(.list-group-item) {
        width: 49%;
    }
}
