.backupContainer {
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.spinner {
    width: 26px;
    height: 26px;
    border: 3px solid #d9d9d9;
    border-top-color: #666;
    border-radius: 50%;
    animation: spin 0.8s linear infinite, hideSpinner 0s linear 2s forwards;
}

.fallbackText {
    position: absolute;
    opacity: 0;
    animation: showFallback 0s linear 2s forwards;
}

@keyframes showFallback {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideSpinner {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
