.flip-restriction-list .restriction-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}

.flip-restriction-list .restriction {
    margin: 1%;
    width: 48%;
    height: fit-content;
}

.flip-restriction-list .remove-filter {
    cursor: pointer;
}