.restrictionList {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 200px;
}

.restrictionListContainer{
    display: flex;
    flex-direction: column;
    height: 100%;

}

@media all and (max-height: 1000px) {
    .restrictionListContainer {
        overflow-y: auto;
    }
}

.restrictionContainer {
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.removeFilter {
    cursor: pointer;
    margin-left: 10px;
}

.cancelEditButton {
    cursor: pointer;
}

.editButton {
    cursor: pointer;
    margin-left: 10px;
}

.restrictionMarkedAsEdit {
    border-width: 3px;
    border-color: cornflowerblue;
}

.label {
    width: 300px;
    float: left;
    font-weight: bold;
}

.sortByNameCheckbox {
    position: relative !important;
}

.sortByNameContainer {
    display: inline-flex;
    margin-left: 20px;
    flex: 50%;
}

.searchFilter {
    margin-left: 20px;
    flex: 50%;
}

@media all and (max-width: 1024px) {
    .restriction {
        width: 100%;
    }
}
