.cofl-flipper-hub-list-item {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
    cursor: pointer;
}

.cofl-flipper-hub-list-item:hover {
    background-color: #f8f9fa;
}

.cofl-flipper-hub-list-item-content {
    display: none;
}

.cofl-flipper-hub-list-item-content.show {
    display: block;
    margin-top: 10px;
}
