.bid-item-image {
    margin-right: 15px;
}

.bid-list {
    width: 96%;
    margin-left: auto;
    margin-right: auto
}

.loadingBanner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}