.bid-list a {
    color: white;
    text-decoration: none;
}

.bid-list>.bid-item-image {
    margin-right: 15px;
}

.bid-list>.bid-list {
    width: 96%;
    margin-left: auto;
    margin-right: auto
}

.bid-list>.loadingBanner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.bid-list>.noAuctionFound {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    text-align: center;
    margin-top: 5vh;
}

.bid-list>.upButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.bid-list>.subscribe-button {
    position: fixed;
    bottom: 20px;
    right: calc(20px + 45px + 20px);
}

.bid-list>.fixed-bottom {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

.bid-list>.fixed-bottom>.btn-bottom {
    float: right;
    margin-left: 10px;
}