.bid-item-image {
    margin-right: 15px;
}

.bid-list {
    width: 96%;
    margin-left: auto;
    margin-right: auto
}

.loadingBanner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.noAuctionFound {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    text-align: center;
    margin-top: 5vh;
}

.upButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
}