.navClosing {
    left: -270px;
    transition: all 0.5s;
}

.navOpen {
    left: 0px !important;
    transition: left 0.5s;
}

.hamburgerIcon {
    display: inline;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-right: 12px;
}

.navBar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 20;
    font-size: 1rem;
}

.logo {
    padding: 24px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navBar :global(#pro-sidebar) {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 0;
    top: 0;
    min-height: 100vh;
    border: none;
}

.navBar :global(.ps-menu-button):hover {
    background-color: #505050 !important;
}

.menuItem {
    display: block !important
}