.cardWrapper {
    padding: 15px;
    display: inline-table;
    /* Make the container element behave like a table */
    /* Set full-width to expand the whole page */
}

.card {
    height: 100%;
}

@media all and (max-width: 480px) {
    .cardWrapper {
        width: 100%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .cardWrapper {
        width: 50%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .cardWrapper {
        width: 25%;
    }
}

@media all and (min-width: 1024px) {
    .cardWrapper {
        width: 16.66666666666666666666666666666%;
    }
}

.card-label {
    width: 40%;
    float: left;
}