.flipper .card-wrapper {
    padding: 15px;
    display: inline-table;
    /* Make the container element behave like a table */
    /* Set full-width to expand the whole page */
}

.flipper-scroll-list::-webkit-scrollbar {
    background-color: #272b30;
}

.flipper .card {
    height: 100%;
    min-width: 200px;
}

.flipper .flip-auction-card {
    height: 100%;
    width: 300px;
}

.flipper .flip-auction-card p {
    margin-bottom: 0;
}

.flipper .flipper-scroll-list::-webkit-scrollbar {
    width: 20px;
}

.flipper .flipper-scroll-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.flipper .flipper-scroll-list::-webkit-scrollbar-thumb {
    background: #3a3f44;
    border-radius: 10px;
}

.flipper .flipper-scroll-list::-webkit-scrollbar-thumb:hover {
    background: #7a8288;
}

@media all and (max-width: 480px) {
    .flipper .card-wrapper {
        width: calc(100vw - 20px - 40px);
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .flipper .card-wrapper {
        width: calc(100vw - 20px - 40px);
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .flipper .card-wrapper {
        width: calc(50vw - 20px - 40px);
    }
}

@media all and (min-width: 1024px) and (max-width: 1400px) {
    .flipper .card-wrapper {
        width: 25vw;
    }
}

@media all and (min-width: 1400px) {
    .flipper .card-wrapper {
        width: 15vw;
    }
}

.flipper .flip-auction-copy-button {
    float: right;
}

.flipper .flex {
    display: flex;
    flex-grow: 0;
    align-items: center;
}

.flipper .flex-max {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

.ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}