.craftsList :global(.list-group-item ) {
    width: -webkit-fill-available;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: initial;
}

#tooltip-container .tooltip-inner {
    max-width: fit-content;
}

.craftsList :global(.tooltipWrapper) {
    width: calc(100% - 10px);
}

@media all and (min-width: 768px) {
    .craftsList :global(.tooltipWrapper) {
        width: calc(50% - 10px);
    }
}

@media all and (min-width: 1424px) {
    .craftsList :global(.tooltipWrapper) {
        width: calc(33% - 10px);
    }
}

.craftsList .preventSelect {
    width: calc(50% - 10px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.craftsList .label {
    width: 150px;
    float: left;
}

.craftsList :global(.list-group-item) :global(p) {
    margin: 0;
}

.craftsList :global(.list-group-item) .craftRequirement {
    text-align: right;
}

.craftsList :global(.list-group-item) .craftRequirementLabel{
    margin-right: 10px;
}