.craftsList .listGroupItem {
    width: -webkit-fill-available;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.craftsList .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#tooltip-container .tooltip-inner {
    max-width: fit-content;
}

.craftsList :global(.tooltipWrapper) {
    width: calc(50% - 10px)
}

.craftsList .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.craftsList .prevent-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}