.nav-bar {
    font-size: small;
}

.nav-bar a {
    text-decoration: none !important;
    color: #fff;
}

.link-item-div {
    height: max-content;
    width: max-content;
    margin-left: 20px;
}

.navbar-icon {
    margin-right: 10px;
}

.nav-bar ul {
    padding-inline-start: 0;
}