.nav-bar {
    font-size: small;
}

@media all and (min-width: 768px) {
    .infoIcon {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.nav-bar a {
    text-decoration: none !important;
    color: #fff;
}

.link-item-div {
    height: max-content;
    width: max-content;
    margin-left: 20px;
}

.navbar-icon {
    margin-right: 10px;
}

.nav-bar ul {
    padding-inline-start: 0;
}