.nav-closing {
    left: -270px;
    transition: all 0.5s;
}

.nav-open {
    left: 0px !important;
    transition: left 0.5s;
}

#hamburger-icon {
    display: inline;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-right: 12px;
}

body {
    position: relative;
    min-height: 100%;
}