.auction-item-image {
    margin-right: 15px;
}

.auction-list {
    width: 96%;
    margin-left: 2%;
}

.loadingBanner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.noAuctionFound {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    text-align: center;
    margin-top: 5vh;
}

.up-button {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
}

.subscribe-button {
    position: fixed;
    bottom: 20px;
    right: calc(20px + 45px + 20px);
    z-index: 10;
}