.auction-list>.auction-item-image {
    margin-right: 15px;
}

.auction-list>.auction-list {
    width: 96%;
    margin-left: 2%;
}

.auction-list>.loadingBanner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.auction-list>.noAuctionFound {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    text-align: center;
    margin-top: 5vh;
}

.auction-list>.fixed-bottom {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

.auction-list>.fixed-bottom>.btn-bottom {
    float: right;
    margin-left: 10px;
}