.premiumFeatures .featureCard {
    margin-bottom: 20px;
}

.featureColumn {
    font-size: larger;
    text-align: left;
}

.featureColumnHeading {
    text-align: left;
}

.premiumProductHeading {
    text-align: center;
}

.premiumProductHeading {
    text-align: center;
}

.premiumProductColumn {
    text-align: center;
}
