/* Updated styles for PremiumFeatures component */
.premiumFeatures {
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

.featureCardRow{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.featureTitle {
    font-weight: bold;
}

.featureCard {
    width: 48%;
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.featureCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#tooltipHoverId :global(.tooltip-inner) {
    max-width: 100%;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}