.premium-features .feature-card {
    margin-bottom: 20px;
}

.premium-features td {
    text-align: center;
}

.premium-features th {
    text-align: center;
}

.premium-features .feature-column {
    font-size: larger;
    text-align: left;
}

.premium-features .feature-column-heading {
    text-align: left;
}