.label {
    width: 150px;
    float: left;
}

.filterInput {
    width: 100%;
    margin-right: 3vw;
}

.flipListContainer {
    height: 100%;
}

.filterInputContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}