.enchantment-filter {
    margin: 20px 0 20px 0;
}

.enchantment-filter a {
    text-decoration: none !important;
    color: #fff;
}

.filter-element {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.remove-filter {
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .filter-element {
        width: 100%;
    }
}