.enchantment-filter {
    margin: 20px 0 20px 0;
}

.enchantment-filter a {
    text-decoration: none !important;
    color: #fff;
}

.enchantment-filter-select-enchantment {
    margin-right: 40px;
}

.enchantment-filter-label {
    margin-right: 15px;
}

.appliedBadge {
    margin-left: 10px;
}