.productGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: initial;
    flex-wrap: wrap;
}

.premiumPlanCard {
    width: 49%;
    margin-bottom: 25px;
}

@media all and (max-width: 768px) {
    .premiumPlanCard {
        width: calc(100%);
    }
}

.premiumPrice {
    font-size: larger;
}

.paymentOption {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
}

.discount {
    color: lime;
    float: right;
}

.manualRedirectLink {
    margin: 0;
}

.paymentButtonWrapper {
    width: 40%;
}

.paymentButton {
    width: 100%;
}

.paymentLabel {
    width: 50%;
}

.easterSale {
    font-size: larger;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.easterSaleHighlight {
    color: #FF4500;
    font-weight: bold;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('/easter.png');
    font-size: xx-large;
}

.easterSaleText {
    margin: 10px 0;
}

.coflCoinsText {
    text-align: center;
	font-size: 80px;
	font-weight: 700;

}