.search {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.search-result-icon {
    margin-right: 20px;
}

.bar {
    display: flex;
}

.current {
    flex-grow: 100;
    font-size: 1rem;
}

.form-control {
    background-color: #303030;
    color: white;
}

.form-control:focus {
    background-color: #303030;
    color: white;
    border-color: #222;
    box-shadow: none;
}