.search {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.search-result-icon {
    margin-right: 20px;
}

.searchBar {
    display: inline;
    width: calc(100% - 36px);
}

.infoIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 12px;
}