.search {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.search .search-result-icon {
    margin-right: 20px;
}

.bar {
    display: flex;
}

.search .current {
    flex-grow: 100;
    font-size: 1rem;
}

.search .form-control {
    background-color: #303030;
    color: white;
}

.search .form-control:focus {
    background-color: #303030;
    color: white;
    border-color: #222;
    box-shadow: none;
}

.search .search-form-group {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
    border-bottom-width: 0;
}