.auction-details {
    margin: 20px;
}

.auction-card {
    margin-bottom: 20px;
}

.label {
    width: 30vw;
    float: left;
}

.labelForList {
    float: left;
    width: calc(30vw - 20px);
}

.enchantment-list {
    float: left;
}

.center {
    text-align: center;
}

.center-child {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

#backButton {
    margin-bottom: 20px;
}

.auction-list>.fixed-bottom {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

.btn-bottom {
    float: right;
    margin-left: 10px;
}