.auction-details {
    margin: 20px;
}

.auction-card {
    margin-bottom: 20px;
}

.first-card {
    min-height: 385px;
}

@media all and (max-width: 500px) {
    .auction-card-header {
        min-height: 150px;
    }
}

.item-icon {
    display: inline-block;
    overflow: hidden;
    font-size: 5px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

h1 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

h2 {
    font-size: 1.25rem;
}

.label {
    width: 30vw;
    float: left;
}

.labelForList {
    float: left;
    width: calc(30vw - 20px);
}

.enchantment-list {
    float: left;
}

.center {
    text-align: center;
}

.center-child {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

#backButton {
    margin-bottom: 20px;
}

.fixed-bottom {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

.btn-bottom {
    float: right;
    margin-left: 10px;
}