.newRestrictionSearchbarContainer {
    margin-top: 20px;
}

.newRestrictionSearchbarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.multiSearch {
    flex: 1;
}

.copyButtonContainer{
    display: flex;
    justify-content: end;
}

@media all and (max-width: 1024px) {
    .copyButtonContainer{
        justify-content: initial;
    }
}