.price-graph {
    width: 100vw;
    position: relative;
}

.graph-overlay {
    top: 30vh;
    position: absolute;
    left: 50%;
    font-size: 30
}

.additional-infos {
    display: inline-flex;
    text-align: center;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}

.graph-canvas-container {
    margin-top: 20px;
    height: 50vh;
}