.price-graph {
    width: 100vw;
    position: relative;
}

.graph-overlay {
    top: 30vh;
    position: absolute;
    left: 50%;
    font-size: 30
}

.additional-infos {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.graph-canvas-container {
    margin-top: 20px;
    height: 50vh;
}