body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: max-content;
    background-color: #f5f5f5;
}

.link {
    margin-left: 20px
}

a {
    color: #007bff
}

.disable-link-style {
    color: white;
    text-decoration: none;
}

.disable-link-style:hover {
    color: white;
    text-decoration: none;
}

img {
    color: #303030
}

.btn-bottom {
    float: right;
    margin-left: 10px;
}

.player-head-icon {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.btn-bottom {
    float: right;
    margin-left: 10px;
}

* {
    margin: 0;
}