body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: max-content;
    background-color: #f5f5f5;
}

.link {
    margin-left: 20px;
}

a {
    color: #007bff;
}

.disableLinkStyle {
    color: white;
    text-decoration: none;
}

.disableLinkStyle:hover {
    color: white;
    text-decoration: none;
}

img {
    color: #303030;
}

.playerHeadIcon {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

option {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

.form-control {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

.form-control:focus {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

.form-control:disabled {
    color: lightgrey;
    background-color: #222;
    color: lightgrey;
    border-color: #222;
}

.page {
    margin: 20px 0 20px 0;
}

.ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
